//변수
$color-W: #fff;
$color-B: #523b0b;
$color-L-B: #796642;

$color-F-L-B: #B07741;
$color-G-L: #bebdbd;
$color-G-L-2:#f7eadc;
$color-d-b: #423007;

$color-B-1: #b9995c;
$color-B-2: #ccb283;
$color-B-3: #dac194;

$color-nav-L: #583006;