
h2 {
    padding: 1rem 0;
    font-size: 2.4rem;
    font-weight: 800;
    text-transform: uppercase;
    background: linear-gradient(to left, $color-B, $color-L-B);
    -webkit-background-clip: text; //텍스트에 그라데이션 입히기
    -webkit-text-fill-color: transparent;
    transition: all .5s;

    &:hover {
        padding-left: 1.5rem;
    }
}

h3 {
    padding: .5rem 0;
    color: $color-d-b;
    font-size: 1.6rem;
    font-weight: 700;
    text-transform: uppercase;
}